[submodule "FatFs"]
	path = FatFs
	url = https://github.com/hanyazou/FatFs.git
	branch = supermez80
[submodule "tools/sjasmplus"]
	path = tools/sjasmplus
	url = https://github.com/z00m128/sjasmplus.git
[submodule "tools/a-p-prog"]
	path = tools/a-p-prog
	url = https://github.com/hanyazou/a-p-prog.git
[submodule "tools/zasm"]
	path = tools/zasm
	url = https://github.com/Megatokio/zasm.git
